html, body{
    margin: 0;
    padding: 0;
    font-family: "Liberation Sans", "Helvetica", "Arial", sans-serif;
}
section{
    width: 100%;
    min-height: 100vh;
    text-align: center;
    /* margin: 10vh 0 10vh 0; */
    /* margin-top: 10vh; */

    color: #FFF;
}
h1{
    font-size: 72px;
}
h2{
    font-size: 56px;
}
h3{
    font-size: 40px;
}
p{
    font-size: 24px;
}
section h1,
section h2,
section h3{
    margin: 0;
}

section p{
    margin: 0;
}
section > div{
        padding: 15vh;
}

section.color-primary{
    background-color: blue;
}
section.color-secondary{
    background-color: red;
}
