html, body{
    margin: 0;
    padding: 0;
    font-family: "Liberation Sans", "Helvetica", "Arial", sans-serif;
 }
 section{
     width: 100%;
     min-height: 100vh;
     display: flex;
     flex-direction: column;
 }
 h1{
     font-size: 72px;
 }
 h2{
     font-size: 56px;
 }
 h3{
     font-size: 40px;
 }
 p{
     font-size: 24px;
 }
 section h1,
 section h2,
 section h3{
     margin: 0;
 }

 section p{
     margin: 0;
 }
 section > div{
     margin: auto 15vh;
 }
